# Data Science Tools and Ecosystem

## Author 
Sagar Acharya

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**
+ Some of the popular languages in data science
+ Some of commonly used libraries in data science
+ Tools used in data science
+ Examples of coding arthimetic expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. SciPy
3. Pandas
4. Tensorflow

| Data Science Tools |
| ----|
| RStudio |
| Jupyter Notebook |
| Tensorflow |

### Below are a few examples of evaluating arithmetic expressions in Python

In [8]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [9]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335